@charset "UTF-8";

* {
  box-sizing: border-box;
  font-size: 12px;
  font-weight: normal;
}

.iconTrofeu:after{
    content: '';
    display: block;
    height: 40px;  /*height of icon */
    width: 40px;  /*width of icon */
    position: absolute;
      /*where to replace the icon */
    top: 0px;
    left: -40px;
      /*background */
    background: #F8E6AE url("images.png") no-repeat 0px 0px;
}

.table-default {
    border-collapse: collapse;
    width: 100%;
}

.table-default td, .table-default th {
  padding: 3px 0px 3px 0px;
}

.table-default th {
  color: #E9967A;
  text-align: left;
}

.titulo {
  font-weight: bold;
}

.spanEmpresa {
  display: block;
  color: #E9967A;
}

.color-normal {
  color: black !important;
  font-weight: normal;
}

.separador {
  margin: 3% 0px 3% 0px;
  display: block;
  border-bottom: 3px solid #D3D3D3;
}

.bloco {
  width: 37%;
  float: left;
  margin-right: 2%;
  height: 250px;
}

.grafico {
  width: 31%;
  float: left;
  margin-right: 2%;
  height: 250px;
}

.empresa {
  width: 25%;
  float: left;
  height: 250px;
}

.row {
  height: 250px;
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 30px;
}
